/* GOOGLE FONTS */
/* MAIN TITLE */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
/* HEADINGS */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* INDEX BODY */
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');
/* PROJECTS BODY */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* INDEX GENERAL STYLES */
body {
  color: #1D2332;
  background-color: #C0AE81;
  font-family: 'Gelasio', serif;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}


h1, h2, h3 {
  color: #202B49;
}

h1 { 
  font-family: 'Rokkitt', serif;
  font-size: 200%;
  text-shadow: 1px 1px 20px #202b49;
}

h2{
  font-family: 'Oswald', sans-serif;
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

p {
  font-size: 125%;
}

/* GRID */
.container {
  display: grid;
  grid-template-areas: 
    "nav"
    "header"
    "toolBox"
    "projects"
    "award"
    "aboutMe"
    "sidebar";
}

/* HOME STYLES */
.welcome {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 4em;
}

.welcome header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 4em 0 0 0;
  box-shadow: 0 4px 3px -3px black;
  z-index: 1;
}

.welcome h2 {
  margin-top: 4em;
}

.welcome img {
  min-width: 300px;
  max-width: 35vw;
  max-height: 30vh;
  height: auto;
  margin: 0 1em;
  padding: 0;
  box-sizing: border-box;
}

.welcome .welcomeInfo{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 7em;
  background-color: #A2863F;
  
}

.welcome p {
  max-width: 50%;
  min-width: 200px;
}

/* NAV STYLES */
nav {
  grid-area: nav;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 4px black;
}

nav a {
  color: #1D2332;
  background-color: #F6F6F6;
  text-decoration: none;
  padding: 0.75em;
  flex: 1;
  transition: all 1s ease;
}

nav a:hover, nav a:focus, .contactLinks a:hover {
  color: #F6F6F6;
  background-color: #1D2332;
  transition: all 1s ease;
}

/* MAIN SECTION */
main {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

/* TOOL BOX SECTION */
.tools {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
  margin-bottom: 2em;
}

.tools h2 {
  margin: 2em 0 1em 0;
}

.toolContainer {
  display: flex;
  direction: row;
}

.proficiencyMeter {
  min-width: fit-content;
  height: auto;
  background-image: linear-gradient(180deg, #A2863F, #DED6C2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px 30px;
  box-shadow: 1px 1px 3px black;
}

.toolList {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 65vw;
  min-width: 50px;
  margin-bottom: 2em;
}

.toolList li {
  list-style: none;
  text-align: center;
  align-self: center;
  max-width: 20vw;
  min-width: 10vw;
  padding: 1.5em;
  margin: 1em 1em;
  transition: all 1s ease;
  box-shadow: 1px 1px 3px black;
}

@media screen and (max-width: 800px) {
  .toolList li {
    padding: 1em;
    margin: 0.75em 0.25em;
    transition: all 1s ease;
  } 
}

.toolList .advanced {
  background-color: #A2863F;
}

.toolList .intermediate {
  background-color: #ceb578;
}

.toolList .novice {
  background-color: #DED6C2;
}

.toolList li:hover {
  z-index: 1;
  color: #1D2332;
  text-shadow: 1px 1px 8px #1D2332;
  transform: scale(2);
  transition: all 1s ease-in-out;
}

hr {
  flex-basis: 100%;
  height: 0%;
  border: 0;
  margin: 0;
}

/* PROJECTS SECTION */
.showProjects {
  grid-area: projects;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
  height: auto;
  margin-bottom: 6em;
}

.showProjects h2 {
  margin: 2em 0 3em 0;
}

/* SLIDER */
.showProjects .slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 200px;
  max-height: 600px;
  text-align: center;
  background-color: #A2863F;
  border-radius: 20px 20px 0 0;
  overflow-x: auto;
  white-space: nowrap;
}

.showProjects .slider .project{
  text-align: center;
  max-width: 100%;
  padding: 0.5em 3em;
  width: auto;
}

.showProjects .slider .project img {
  max-width: 50vw;
  max-height: 300px;
  box-shadow: 2px 2px 2px black;
  margin: 2em;
}

/* SLIDER SCROLLBAR */
.showProjects .slider::-webkit-scrollbar {
  text-decoration: none;
}
.showProjects .slider:hover::-webkit-scrollbar,
.showProjects .slider:hover::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, 0.315);
}

/* ACHIEVEMENTS AND AWARDS SECTION */
.awards {
  grid-area: award;
  align-self: center;
  text-align: center;
  margin-bottom: 4em;
}

.awards h2 {
  margin: 2em 1em;
}

.awardShelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.awardCard {
  margin: 1em;
  background-color: #A2863F;
  box-shadow: 2px 2px 4px black;
  min-width: 300px;
  width: 30vw;
  max-width: 40vw;
  height: fit-content;
  transition: all 1s ease-in-out;
}

.awardCard:hover {
  box-shadow: 0 0 20px yellow;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.awards .awardCard h3 {
  padding: 0.5em 1em;
}

.awards .awardCard p {
  padding: 0.5em 2em;
}

.awards .awardCard a:link, .awards .awardCard a:visited {
    padding: 0.25em 0.25em;
    text-align: center;
    text-decoration: underline solid transparent;
    display: inline-block;
    transition: all 1s ease;
}

.awards .awardCard a:hover, .awards .awardCard a:active {
  text-decoration: underline solid currentColor;
  transition: all 1s ease;
}

/* ABOUT ME SECTION */
.aboutMe {
  grid-area: aboutMe;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  max-width: 65vw;
  min-width: 45vw;
}

.aboutMe h2 {
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
}

/* ASIDE SECTION */
aside {
  grid-area: sidebar;
  position: fixed;
  right: 0em;
  bottom: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6cc;
  z-index: 3;
}

aside:hover .contactLinks {
  visibility: visible;
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: center;
}

.contactLinks{
  opacity: 0;
  display: none;
  visibility: hidden;
  padding: 0;
}

aside p {
  margin: 0.25em 0.25em;
}

.contactLinks a {
  color: #1D2332;
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* PROJECT PAGE */
.projectContainer {
  font-family: 'Lato', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* MAIN SECTION */
/* OBJECTIVE SECTION */
.projectObjective {
  align-self: center;
  max-width: 70vw;
  padding: 4em 2em;
  margin: 2em 0 4em 0;
  box-shadow: 2px 2px 2px black;
}

/* TECHNICAL DETAILS SECTION */
.techDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.techDetails h2 {
  margin: 2em 0 1em 0;
}

.techDetails img {
  max-width: 40vw;
  height: 100%;
  align-self: center;
  box-shadow: 2px 2px 2px black;
}

/* GALLERY SECTION */
.projectGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}

.projectGallery h2 {
  margin: 2em 0 1em 0;
}

.projectGallery img {
  margin: 0 0 1em;
  min-width: 20vw;
  width: 35vw;
  max-width: 50vw;
  max-height: auto;
  box-shadow: 2px 2px 4px black;
  transition: all 0.5s ease;
}

.projectGallery img:hover {
  max-width: 50vw;
  max-height: 50vh;
  box-shadow: 4px 4px 8px black;
  transform: scale(1.5);
  transition: all 0.5s ease;
  z-index: 1;
}
