body {
  background-color: #161A1D; /*Eerie Black*/
  background-image: linear-gradient(180deg, #161A1D, #1B9AAA, #2B4A55);
  color: #F5F3F4; /*Cultured*/
  font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "bitter", serif;
  color: #BA181B; /* carnelian */
}

h1 { 
  font-size: 190%; 
}

h2 { 
  font-size: 160%; 
}

h3 { 
  font-size: 140%; 
}

.container {
  /*Setup for mobile users*/
  display: grid;
  grid-template-areas: 
    "header"
    "nav"
    "projects"
    "aboutMe"
    "sidebar"
    "footer";
}

.welcome {
  border: 2px solid lightblue;
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  border: 2px solid lightgoldenrodyellow;
  grid-area: nav;
}

.projects {
  border: 2px solid lightcoral;
  grid-area: projects;
  display: flex;
  flex-direction: column;
}

.showProjects {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  height: auto;
  align-items: center;
}

.showProjects a{
  margin: 1em;
  width: 75%;
}

.showProjects a img {
  max-width: 100%;
}

.aboutMe {
  border: 2px solid lightskyblue;
  grid-area: aboutMe;
}

aside {
  grid-area: sidebar;
  border: 2px solid lightgoldenrodyellow;
}

footer {
  border: 2px solid lightgreen;
  grid-area: footer;
}

nav a {
  display: inline;
  color: #118AB2; /*Imperial Red*/
  justify-self: center;
}

hr {
  border-width: 0px;
  height: 1em;
  background-color: #B1A7A6; /*Silver Chalice*/
  margin: 3em auto;
}
